@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,400;6..96,700&display=swap');

*{
	background-color: #F0F0F0;
}
#logo img{
  height: 60px;
  width: 60px;
  padding-left: 60px;
  padding-top: 5px;
  background: transparent;
}
#buscar img{
  height: 50px;
  width: auto;
  position: absolute;
  left: 1370px;
  top: 40px;
  background: transparent;
}
#menu li{
	font: normal 15px Helvetica;
	color: black;
	position: relative;
	left: 55px;
}
header {
  height: 80px;
  width: 100%;
  padding: 20px 0 20px 0;
  position: relative;
}



ul#menu li {
  padding: 0;
  display: inline;
  background: transparent;
}

ul#menu li a {
  float: left;
  font-size: 100%;
  margin: 10px 0px 0 0;
  padding: 6px 10px 0;
  display: flex;
  background: transparent;
  text-align: center;
  color: #4F4847;
  text-decoration: none;
  position: relative;
  left: 80px;
}

ul#menu li.current a {
  color: #4F4847;
  text-shadow: none;
}

ul#menu li:hover a {
  color: #EAB8A6;
  text-shadow: none;
}

#logo {
  width: 300px;
  float: left;
  height: 50px;
  margin: 0 auto;
  padding-left: 20px;
  padding-top: 5px;
}
.whatsapp {
  background-color: #EAB8A6;
  color: #F0F0F0;
  padding: 20px 0 20px 0;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  font: normal 15px Helvetica;
}
.slider-frame {
	width: 1480px;
    height: auto;
	margin:1px auto 0;
	overflow: hidden;
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: slide 25s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}
.info{
	width: 100%;
	height: 500px;
	background-color: #FEE8D9; 
	position: relative;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.text{
	position: absolute;
	background: transparent;
	left: 120px;
	top: 125px;
	font-family: 'Bodoni Moda', serif;
	color: #36738F;
	font-weight: bolder;
	font-size: 45px;
}
.text p{
	position: absolute;
	background: transparent;
	left: 0px;
	top: 70px;
	font: normal 20px Helvetica;
	color: #36738F;
	text-align: center;
}
.info img{
	height: 500px;
	width: auto;
	position: relative;
	left: 768px;
}
form{
	position: absolute;
	text-align: center;
	width: 800px;
	font: normal 15px Helvetica;
	left: 350px;
	top: 1320px;
	background: transparent;
}
form h2{
	color: black;
	font-size: 25px;

}


.imput-group{
	display: block;
	flex-direction: column;
	background: transparent;
	width: 100px;
}

input{
	background-color: white;
	padding: 15px 20px;
	margin-bottom: 5px;
	border: 10px;
}
.btn{
	background-color: black;
	color: white;
	width: 100px;
}
.color{
	color: #36738F;
}

#footer {
	position: absolute;
	top:1750px;
  	display: inline;
  	background: transparent;
  	width: 100%;
  	font: normal 15px Helvetica;
  	text-align: center;
}
#footer p{
	position: absolute;
	left: 660px;
	top: 100%;
}
.abajo img{
	height: 200px;
	width: 200px;
	padding-top: 50px;
}